pools:
  redis:
    size: 1
    image: redis
    port: 6379
    params:
      database: "0"
      url: redis://{{.Hostname}}:{{.Port}}/{{.Database}}
    actions:
      healthcheck:
        type: redis.ping
      reset:
        type: redis.truncate
